body {
    background-color: $page-background;
}

h3 {
    font-size: 1.2rem;
}

.spinner-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    .loading {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-left: 100px;
        padding-top: 100px;
        border: 1em solid $primary;
        border-right-color: transparent;
    }
    .three-points {
        background-color: $primary;
        &:first-child {
            margin-left: auto;
        }
        &:last-child {
            margin-right: auto;
        }
    }
}

.slider {
    background-color: $page-background;
    .left-arrow,
    .right-arrow {
        display: flex;
        position: absolute;
        height: 500px;
        align-items: center;
        z-index: 1;
        .left-icon,
        .right-icon {
            height: 100px;
            width: 100px;
            color: $secondary;
            svg {
                z-index: 1 !important;
            }
        }
    }

    .right-arrow {
        right: 0;
    }
    .card-grid.container {
        padding-left: 0;
        padding-right: 0;
        .slide {
            .video-card {
                position: relative;
                max-width: 500px;
                margin-right: auto;
                margin-left: auto;
                .button {
                    margin-left: 40px;
                }
                .video-box {
                    border-bottom: 2px solid $page-background;
                    max-height: 500px;
                    overflow: hidden;
                    margin-bottom: 70px;
                    video {
                        margin-bottom: -8px;
                        z-index: 1 !important;
                    }
                }
            }

            .card-info {
                min-width: 100vw;
                text-align: center;
                color: $primary;
                padding-top: 20px;
                padding-bottom: 40px;
            }
        }
    }
}

.video-card {
    .button {
        display: flex;
        top: 10px;
        left: 60px;
        position: absolute;
        min-width: 40px;
        min-height: 40px;
        z-index: 4;

        .pause {
            mask: url('../../public/pause.svg');
            mask-repeat: no-repeat;
            mask-size: 15px;
        }
        .play {
            mask: url('../../public/play.svg');
            mask-repeat: no-repeat;
            mask-size: 20px;
        }
        .muted {
            mask: url('../../public/unmute.svg');
            mask-repeat: no-repeat;
        }
        .unmuted {
            mask: url('../../public/mute.svg');
            mask-repeat: no-repeat;
        }
        &.hideBtn {
            .muted,
            .unmuted,
            .play,
            .pause {
                visibility: hidden;
            }
        }
        &.showBtn {
            .muted,
            .unmuted,
            .play,
            .pause {
                border: none;
                background-color: $primary;
                height: 40px;
                width: 40px;
                border-radius: 0;
            }
        }
    }
}

.__inner {
    display: none;

    .card-grid {
        grid-template-columns: 100%;
        height: 550px;
        &.container {
            padding: 0;
            margin: 0;

            .video-card {
                .video-box {
                    height: 477px;
                    overflow: hidden;
                }
                .openModal {
                    bottom: 10px;
                }
            }
        }
    }
}

.info.container {
    margin-bottom: 50px;
    a {
        color: $primary;
        text-underline-offset: 3px;
    }
}

@media (min-width: 598px) {
    .slider {
        .card-grid.container {
            max-width: 100%;
        }
    }
}

@media (min-width: 992px) {
    .slider {
        display: none;
    }

    .__inner {
        position: relative;
        &.bg {
            display: block;
            position: relative;
        }

        .image-background {
            position: absolute;
            max-width: 998px;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 520px;
            overflow: hidden;
            text-align: center;
            img {
                margin: auto;
                top: 0 !important;
                bottom: 212px !important;
                left: 0;
                right: 0;
            }
        }

        .card-grid {
            width: 100%;
            max-width: 998px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 0;
            margin-left: auto !important;
            margin-right: auto !important;
            justify-content: center;
            .video-card {
                position: relative;
                grid-row: 1;
                .button {
                    top: 30px;
                    &.showBtn {
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                    }
                }

                .play {
                    mask-size: 15px;
                    margin-right: 0;
                }
                .muted,
                .unmuted {
                    mask-size: 30px;
                    margin-left: 0;
                    //deploy push test
                }
                .pause {
                    mask-size: 10px;
                    margin-right: 0;
                }
            }
            .card-info {
                text-align: center;
                color: $primary;
            }
        }
    }

    .info.container {
        h2 {
            text-align: center;
            margin-bottom: 40px;
            margin-top: 20px;
        }
        p {
            margin: 1rem auto;
            max-width: 600px;
            text-align: center;
        }
        .p1 {
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .__inner {
        .image-background {
            max-width: 1300px;

            img {
                bottom: 419px !important;
            }
        }

        .card-grid {
            max-width: 1300px;
        }
    }
}
