.openModal {
    position: absolute;
    display: flex;
    background-color: $page-background;
    left: auto;
    height: auto;
    min-height: 180px;
    max-height: 200px;
    margin-left: 5px;
    margin-right: 5px;
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: $primary;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba($textPar, 0.5);
    bottom: -15px;
    padding: 10px 20px;
    .text {
        text-align: center;
        line-height: 1.1;
    }
    .button-wrapper {
        display: flex;
        position: absolute;
        z-index: 7;
        align-items: flex-start;
        right: 0;
        top: -175px;
        .close {
            position: absolute;
            background-color: transparent;
            color: $primary;
            margin-left: auto;
            padding: 0;
            right: -10px;
            top: -0;
            bottom: auto;
            margin-bottom: auto;
            width: 25px;
            height: 25px;
            align-self: flex-start;

            svg {
                width: 25px;
                height: 25px;
            }
        }
    }
    .questionModal {
        position: absolute;
        top: -150px;
        right: 0;
        left: 0;
        background-color: white;
        color: #000;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 1px 1px 5px rgba($textPar, 0.5);
        z-index: 6;

        .question-wrapper {
            padding-top: 2px;
            padding-bottom: 2px;
            .question {
                border: 2px solid $secondary;
                border-radius: 5px;
                p {
                    padding: 0 10px;
                }
            }
            cursor: pointer;
            &:hover {
                color: rgba($textPar, 0.5);
            }
        }
    }
}

@media (min-width: 992px) {
    .openModal {
        padding: 5px;
        z-index: 1;
    }

    .questionModal {
        z-index: 6 !important;
        overflow-y: scroll;
        max-height: 400px;

        .button-wrapper {
            .close {
                right: 0;
                top: 0;
                margin-top: 0;
                padding: 0;
            }
        }
        .jon-bjarne-onsoien {
            z-index: 5;
        }

        .silje-waagard {
            z-index: 4;
        }

        .remi-rundsveen-eriksen {
            z-index: 3;
        }
        .andreas-grundvag-bottolfs {
            z-index: 2;
        }

        .ronja-wilsmanoien {
            z-index: 1;
        }
        .question-wrapper {
            padding-left: 5px;
            border: 2px solid $secondary;
            margin-bottom: 5px;
            border-radius: 15px;
            line-height: 90%;

            .question {
                border-style: none !important;
                font-size: 14px;
            }
        }
    }
}
